/* Atributos CSS */
body {
	font-weight: bold;
	font-family: "Verdana";
	font-size: 14px;
	color: #fff;
	background: #667390;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #fff;
	text-align: center;
	position: relative;
	min-height: 100%;
	top: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	background: #e1e5ef url('images/fondocuerpo.gif') repeat-x;
	color: #000000;
	display: block;
	margin: 8px;
	overflow-x: hidden;
	overflow-y: hidden !important;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: none;
	min-width: 97px;
	margin-right: 0;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-right: 16px;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
	position: relative;
	display: -moz-inline-box;
	display: inline-block;
}